apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: sparkel-arena
  namespace: tbd
  labels:
    team: tbd
spec:
  image: {{image}}
  port: 8080
  liveness:
    path: isalive
    initialDelay: 10
  readiness:
    path: isready
    initialDelay: 10
  resources:
    limits:
      cpu: 2000m
      memory: 512Mi
    requests:
      cpu: 200m
      memory: 128Mi
  replicas:
    min: 1
    max: 1
    cpuThresholdPercentage: 90
  prometheus:
    enabled: true
    path: /metrics
  webproxy: true
  secureLogs:
    enabled: true
  vault:
    enabled: true
    paths:
      - mountPath: /var/run/secrets/nais.io/service_user
        kvPath: /serviceuser/data/dev/srvsparkelarena
  env:
  - name: KAFKA_BOOTSTRAP_SERVERS
    value: b27apvl00045.preprod.local:8443,b27apvl00046.preprod.local:8443,b27apvl00047.preprod.local:8443
  - name: KAFKA_CONSUMER_GROUP_ID
    value: sparkel-arena-v1
  - name: KAFKA_RAPID_TOPIC
    value: helse-rapid-v1
  - name: STS_URL
    value: https://sts-q2.preprod.local/SecurityTokenServiceProvider/
  - name: YTELSESKONTRAKT_BASE_URL
    value: https://arena-q2.adeo.no/ail_ws/Ytelseskontrakt_v3
  - name: MELDEKORT_UTBETALINGSGRUNNLAG_ENDPOINTURL
    value: https://arena-q2.adeo.no/ail_ws/MeldekortUtbetalingsgrunnlag_v1
