apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: {{app}}
  namespace: default
  labels:
    team: {{team}}
spec:
  image: {{image}}:{{tag}}
  port: 8080
  liveness:
    path: isalive
    initialDelay: 10
  readiness:
    path: isready
    initialDelay: 10
  resources:
    limits:
      cpu: 2000m
      memory: 512Mi
    requests:
      cpu: 200m
      memory: 128Mi
  replicas:
    min: 1
    max: 6
    cpuThresholdPercentage: 75
  prometheus:
    enabled: true
    path: /metrics
  webproxy: true
  secureLogs:
    enabled: true
  vault:
    enabled: true
    paths:
      - mountPath: /var/run/secrets/nais.io/service_user
        kvPath: /serviceuser/data/prod/srvsparkelarena
  env:
  - name: KAFKA_BOOTSTRAP_SERVERS
    value: a01apvl00145.adeo.no:8443,a01apvl00146.adeo.no:8443,a01apvl00147.adeo.no:8443,a01apvl00148.adeo.no:8443,a01apvl00149.adeo.no:8443,a01apvl00150.adeo.no:8443
  - name: KAFKA_CONSUMER_GROUP_ID
    value: sparkel-arena-v1
  - name: KAFKA_RAPID_TOPIC
    value: helse-rapid-v1
  - name: STS_URL
    value: https://sts.adeo.no/SecurityTokenServiceProvider/
  - name: YTELSESKONTRAKT_BASE_URL
    value: https://arena.adeo.no/ail_ws/Ytelseskontrakt_v3
